#same-account-choice-spacer {
  margin-top: 30px;
}
#bank-form {
  border: 1px solid #dcdfe3;
  padding: 15px;
  border-radius: 8px;
}
#withdrawal-bank-form {
  border: 1px solid #dcdfe3;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}
